body {
	font-family: Helvetica;
	//font-size: 11px;
	color: #274690;
}

h1 {
	text-decoration: none;
	font-size: 32px;
	font-weight: normal;
	letter-spacing: -1px;
	// text-transform: lowercase;
}

h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #274690;
	//text-transform: lowercase;
	letter-spacing: -1px;
}

ul {
	// margin-left: 0px;
	// padding-left: 0px;
	// list-style-type: none;
}

a {
	// text-decoration: none;
	color: #274690;
	
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #D01414;
}
	
#Current a
{
	display: block;
	float: left;
	padding: 8px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #456ECD;	
}

/** MENU GAME */
#menu_games
{
	width: 450px;
	height: 64px;
	margin: 0px auto;
	clear: left;
}

#menu_games ul 
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu_games li
{
}

#menu_games a {
	display: block;
	float: left;
	padding: 6px;
	margin: 2px 0px 3px 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #ffFFff;
}

#menu_games a:hover {
	color: #000000;
}

/** CONTENT */
#content
{
	width: 450px;
	margin: 0px auto;
}

#MainView {
	width: 420px;
	float: left;
	padding: 20px;
	font-size: 12px;
}

#SubMain {
	float: left;
	width: 410px;
}

#SubFarSide
{
	float: left;
	width: 196px;
	margin: 0px 5px 0px 5px;
}

#SubUnder
{
	float: left;
	width: 196px;
	margin: 5px 5px 5px 5px;
}

#columnB h2 {
	font-size: large;
}

#overlay
{
	height: 144px;
}

/** FOOTER */
#footer {
	width: 450px;
	margin: 0px auto;
	background: #809CDD;
}

#footer p {
	margin: 0px;
	padding: 15px 10px;
	font-size: smaller;
	color: #274690;
}

#GemChaser
{
	font-family: Impact;
	font-size: large;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px)
{
	#header
	{
		width: 700px;
	}
	#menu
	{
		width: 700px;
	}
	#menu_games
	{
		width: 700px;
		height: 64px;
		margin: 0px auto;
		clear: left;
	}
	#content
	{
		width: 700px;
	}
	#footer
	{
		width: 700px;
	}
	
	#SubMain 
	{
		float: center;
		width: 660px;
	}
	#SubFarSide 
	{
		float: left;
		width: 320px;
		margin: 5px 5px 5px 5px;
	}
	#SubUnder
	{
		float: left;
		width: 320px;
		margin: 5px 5px 5px 5px;
	}
	#MainView 
	{
		width: 670px;
	}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px)
{
	#header
	{
		width: 850px;
	}
	#menu
	{
		width: 850px;
	}
	#menu_games
	{
		width: 850px;
		height: 32px;
		margin: 0px auto;
		clear: left;
	}
	#content
	{
		width: 850px;
	}
	#footer
	{
		width: 850px;
	}
	
	#SubMain 
	{
		float: left;
		width: 538px;
		margin: 0px 5px 8px 5px;
	}
	#SubFarSide 
	{
		float: right;
		width: 260px;
		height: 185px;
		margin: 0px 5px 0px 5px;
	}
	#SubUnder
	{
		float: left;
		width: 263px;
		margin: 4px 5px 4px 5px;
	}

	#MainView
	{
		width: 820px;
	}
}